.headerItem-wrapper{
  width:  20%;
  font-size: 1,2rem;
  margin: 12px 0;
  display: flex;

  .headerItem-notDisplayed{
    display: none
  }

  .headerItem-cellData{
    width: 5vw;
  }

  .headerItem-editButton {
    border: none;
  }

  .headerItem-cellInput {
    display: block;
    margin-left: 1rem;
    width: 5vw;
    font-size: 1.15rem;
  }
}
